/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    line-height: 1.6;
}

header {
    margin-bottom: 40px;
    text-align: center;
}

h1 {
    color: #333;
}

/* Styling for sections */
section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #444;
}

/* Styling for the joke and category list */
#categoryList {
    list-style-type: none;
    padding: 0;
}

#categoryList li {
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#categoryList li:hover {
    background-color: #efefef;
}

#jokeList p {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Form and input styling */
form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

input[type="text"], button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: #5cb85c;
    color: white;
    border: none;
}

button:hover {
    background-color: #4cae4c;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    form {
        flex-direction: column;
        align-items: center;
    }
}
